:root {
    --bg: #2A2E37;
    --text: #eee;
    --link: #97C3C3;
    --code-bg: #1f293a;
    --img-border: #737373;
    --nav-bg: #222831;

}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    background-color: var(--bg);
    margin: 0;
    padding: 0;
}

body *:not(a):not(button):not(input):not(textarea):not(select) {
    color: var(--text);
}

a {
    color: var(--link);
}

ul {
    list-style: none;
}

ul li:before {
    content: "-> ";
    color: var(--link);
}

code {
  font-family: "Courier New", Courier, monospace;
  background-color: var(--code-bg);
  padding: 2px 4px;
  border-radius: 4px;
}


img {
    width: 100%;
    height: auto;
}

.image-project {
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid var(--img-border);
}

@media (min-width: 800px) {
    .image-project {
        max-width: 90%;
        width: 60em;
    }
}

@media (max-width: 799px) {
    .image-project {
        display: block;
        max-width: 90%;
        width: 60em;
    }
}

.navbar {
    position: -webkit-sticky;
    position: sticky;
    background-color: var(--nav-bg);
    width: 100%;
    margin: 0;
    padding: 0;
    top: 0;
}

.navbar-items {
    overflow: hidden;
    display: flex;
    align-items: center;
}

.navbar-items h2 {
    float: left;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.navbar hr {
    width: 100%;
    color: var(--img-border);
    padding: 0;
    margin: 0;
}

.navbar-items a {
    float: left;
    text-align: left;
    padding: 1em 0.7em;
    text-decoration: none;
}

.content {
    padding: 20px;
}

.project-title {
    display: flex;
    align-items: center;
}

.project-title h2 {
    float: left;
    padding-right: 0.5em;
}

.project-title p {
    float: left;
    padding-right: 0.5em;
}

/* screen reader-only */
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

/* skip link */
.skip-link {
    position: absolute;
    top: -40px;
    left: 0;
    background: #000;
    color: white;
    padding: 8px;
    z-index: 100;
}

.skip-link:focus {
    top: 0;
}

/* centering */
.center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
